/* GLOBAL STYLING */ 

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", "Pretendard Variable", "Noto Sans KR", sans-serif;
}

/*======================================<Header>======================================*/

.header {
    height: 80px;
    display: flex;
    align-items: center;
    background-color: rgb(200, 0, 0);
}

.organization {
    padding-left: 20px;
    text-align: center;
    font-weight: bold;
    color: white;
}

.navigation span {
    color: white;
}

.navigation a {
    color: white;
    text-decoration: none;
}

/*======================================<Body>======================================*/

.body {
    gap: 20px;
    display: flex;
    flex-direction: column;
    gap: 0;
}

.separationGradient {
    width: 100%;
    height: 50px;
    background-image: linear-gradient(to bottom, rgb(200, 0, 0), white);
}

.introduction {
    width: 100%;
    height: 400px;
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 1), rgba(255, 255, 255, 0.5)), url(https://knu.ac.kr/wbbs/assets/images/main/knu_main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.welcomeTitle {
    font-weight: bold;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.viewer {
    border: 2px black solid;
    border-radius: 20px;
}

.sectionTitle {
    font-weight: bold;
    text-align: center;
}

.cardHolder {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    gap: 50px;
}

.card {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    transition: all .3s ease-in-out;
}

.card .image {
    width: 100%;
    height: 100%;
    border: 2px grey solid;
    background-size: cover;
    background-repeat: no-repeat;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.card .name {
    background-color: white;
    width: calc(100% - 40px);
    font-weight: bold;
    text-align: center;
    padding: 20px;
    border: 2px grey solid;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 2px 2px 2px 2px lightgray inset;
}

.building {
    padding: 20px;
    border: 2px black solid;
    border-radius: 25px;
}

/*======================================<Footer>======================================*/

.footer {
    padding: 20px 0 20px 0;
    background-color: grey;
    text-align: center;
    color: white;
}

/* MOBILE STYLING */

@media (min-width: 320px) and (max-width: 899px) {

    /*======================================<Header>======================================*/

    .header {
        justify-content: space-around;
    }    


    .organization {
        font-size: 30px;
    }

    .navigation a {
        font-size: 12px;
        color: white;
        text-decoration: none;
    }

    /*======================================<Body>======================================*/
    
    .introduction {
        text-align: center;
    }

    .welcomeTitle {
        padding: 20px;
    }
    
    .welcomeTitle .title {
        font-size: 35px;
        font-weight: bold;
    }
    
    .welcomeTitle .description {
        font-size: 13px;
    }
    
    .sectionTitle {
        padding: 30px;
        font-size: 25px;
    }

    .cardHolder {
        padding-bottom: 50px;
    }

    /*======================================<MAP>======================================*/

    .KNU-map {
        display: none;
    }

    /*======================================<Footer>======================================*/

    .footer {
        font-size: 10px;
    }

}


/* DESKTOP STYLING */

@media (min-width: 900px) { 
    
    /*======================================<Header>======================================*/
    
    .header {
        justify-content: space-between;
    }
    
    .organization {
        font-size: 50px;
    }
    
    .navigation {
        padding: 20px;
    }
    
    .navigation span {
        padding: 20px;
        color: white;
    }
    
    .navigation a {
        font-size: 15px;
        transition: all .3s ease-in-out;
        border: 0 white dotted;
    }
    
    .navigation a:hover {
        padding: 5px;
        border: 2px white dotted;
        border-radius: 10px;
        font-size: 20px;
    }
    
    /*======================================<Header>======================================*/
    
    
    /*======================================<Body>======================================*/
    
    
    .welcomeTitle {
        align-items: center;
    }
    
    .welcomeTitle .title {
        font-size: 50px;
    }
    
    .welcomeTitle .description {
        font-size: 20px;
    }
    
    .sectionTitle {
        padding: 50px;
        font-size: 50px;
    }

    .cardHolder {
        padding: 10px;
    }
    
    .card {
        cursor: pointer;
    }
    
    .card:hover {
        transform: scale(1.2);
    }
    
    .building {
        transition: all .3s ease-in-out;
    }
    
    .building:hover {
        padding: 30px;
        background-color: grey;
    }
    
    model-viewer {
        width: calc(100vw - 180px);
        height: calc(100vh - 206px);
    }
    
    /*======================================<Body>======================================*/
    
    
    /*======================================<Footer>======================================*/
    
    
    /*======================================<Footer>======================================*/
    
    
    /*Please put external codes here*/
    
    .title-container {
        text-align: center;
    }
    
    .title-container .title {
        color: #dc2329;
        font-size: 36px;
        font-weight: bold;
    }
    
    .instructions {
        font-size: 20px;
    }
    
    .KNU-map {
        margin-top: 40px;
        margin-bottom: 40px;
    }
    
    .main-content {
        height: 70%;
        width: 100vw;
        display: flex;
    }
    
    .preview {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
    }
    
    .preview model-viewer {
        width: 400px;
        height: 400px;
    }
    
    .preview label {
        text-align: center;
        font-size: 18px;
    }
    
    .building {
        cursor: pointer;
        fill: rgba(216, 216, 216, 0.8);
        stroke: black;
        transition: transform 0.3s ease, fill 0.3s ease; 
    
    }
    
    .building:hover {
        transform: scale(1.2);
    }
    
    /*Please put external codes here*/
}

