body { 
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 100vw;
    font-family: "Pretendard Variable", "Noto Sans KR", sans-serif;
}

.header,
.footer {
    background-color: #dc2329;
    color: white;
    height: 30px;
    width: 100%;
}

.title-container {
    text-align: center;
}

.title {
    color: #dc2329;
    font-size: 36px;
    font-weight: bold;
}

.instructions {
    font-size: 20px;
}

.main-content {
    height: 70%;
    width: 100vw;
    display: flex;
}

.preview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.preview model-viewer {
    width: 400px;
    height: 400px;
}

.preview label {
    text-align: center;
    font-size: 18px;
}

.building {
    cursor: pointer;
    fill: rgba(216, 216, 216, 0.8); /* Set initial fill color with slight opacity */
    stroke: black;
    transition: transform 0.3s ease, fill 0.3s ease; /* Smooth transition for both transform and fill */

}

.building:hover {
    stroke:yellow;
    transform: scale(1.2);
}