/* GLOBAL DISPLAY */

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", "Pretendard Variable", "Noto Sans KR", sans-serif;
}

.header {
    display: flex;
    align-items: center;
    background-color: rgb(200, 0, 0);
}

.organization {
    text-align: center;
    font-weight: bold;
    color: white;
}

.navigationBar {
    display: flex;
    justify-content: center;
}

.navigation {
    padding: 20px;
}

.navigation span {
    padding: 20px;
    color: white;
}

.navigation a {
    color: white;
    text-decoration: none;
}

.level {
    border: 2px black solid;
    text-align: center;
    font-weight: bold;
    border-radius: 40px;
    transition: all .3s ease-in-out;
}

.level:hover {
    transform: scale(1.2);
    background-color: black;
    color: white;
}

.viewer {
    border: 2px black solid;
    border-radius: 20px;
}

.footer {
    padding: 20px 0 20px 0;
    background-color: grey;
    text-align: center;
    color: white;
}

/* MOBILE DISPLAY */

@media (min-width: 320px) and (max-width: 899px) {

   /*======================================<Header>======================================*/

   .header {
        height: 60px;
        justify-content: space-around;
    }

    .organization {
        font-size: 30px;
    }

    .sitename {
        font-size: 15px;
        color: white;
    }

    .navigationBar {
        margin: 20px;
        flex-wrap: wrap;
        gap: 10px;
    }

    .level {
        padding: 10px;
    }

    .viewer {
        margin: 20px;
    }

    .footer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 5px;
        font-size: 10px;
    }

    model-viewer {
        width: 100%;
        height: 80vh;
    }
}

/* DESKTOP DISPLAY */

@media (min-width: 900px) {

    /*======================================<Header>======================================*/

    body {
        display: flex;
        flex-direction: column;
        height: 100vh;
        justify-content: space-between;
    }

    .header {
        justify-content: space-between;
    }

    .organization {
        cursor: pointer;
        padding-left: 20px;
        font-size: 50px;
    }

    .sitename {
        padding-right: 20px;
        font-size: 30px;
        color: white;
    }

    /*======================================<Header>======================================*/


    /*======================================<Body>======================================*/

    .body {
        padding: 20px;
        gap: 20px;
        display: flex;
    }

    .navigationBar {
        flex-direction: column;
        gap: 20px;
    }

    .level {
        padding: 20px;
    }

    model-viewer {
        width: calc(100vw - 180px);
        height: calc(100vh - 206px);
    }


    /*======================================<Body>======================================*/


    /*======================================<Footer>======================================*/

    /*======================================<Footer>======================================*/
}

