* {
    margin: 0;
    padding: 0;
}

.header {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(200, 0, 0);
}

.organization {
    padding-left: 20px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: white;
}

.sitename {
    padding-right: 20px;
    font-size: 30px;
    color: white;
}

.body {
    padding: 20px;
    gap: 20px;
    display: flex;
}

.viewer {
    border: 2px black solid;
    border-radius: 20px;
}

.building {
    padding: 20px;
    border: 2px black solid;
    border-radius: 25px;
    transition: all .3s ease-in-out;
}

.building:hover {
    padding: 30px;
    background-color: grey;
}

.footer {
    padding: 20px 0 20px 0;
    background-color: grey;
    text-align: center;
    color: white;
}

model-viewer {
    width: calc(100vw - 180px);
    height: calc(100vh - 206px);
}